<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deals | Velora</title>
    <link rel="stylesheet" th:href="@{/css/global.css}">
    <style>
        #deals-grid {
            display: grid;
            grid-template-columns: 1fr 1fr;
            max-width: 1500px;
            column-gap: 1em;
            row-gap: 1em;
            margin: 50px auto;
        }
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>

<!-- Header -->
<header class="header">
    <div class="header-top">
        <div class="logo-container">
            <a th:href="@{/}">
                <img th:src="@{/images/velora_logo.png}" alt="Velora Logo">
            </a>
        </div>

        <div class="search-container">
            <form th:action="@{/products/search}" method="get">
                <input type="text" name="query" placeholder="Search products...">

                <button type="submit">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </form>
        </div>

        <div class="cart-container">
            <a th:href="@{/cart}" class="cart-link">
                <i class="fa-solid fa-cart-shopping"></i>
                <span class="cart-count" th:if="${cartItemCount > 0}" th:text="${cartItemCount}">0</span>
            </a>
        </div>
    </div>

    <!-- Navigation -->
    <nav class="navbar">
        <div class="dropdown">
            <button class="nav-button">Account</button>

            <div class="dropdown-content" sec:authorize="isAnonymous()">
                <a th:href="@{/auth/login}">Login</a>
                <a th:href="@{/auth/register}">Register</a>
            </div>

            <div class="dropdown-content" sec:authorize="isAuthenticated()">
                <a th:href="@{/orders}">My Orders</a>
                <a th:href="@{/account}">My Account</a>

                <form th:action="@{/logout}" method="post" class="logout-form">
                    <button type="submit" class="logout-button">Logout</button>
                </form>
            </div>
        </div>

        <div class="dropdown">
            <button class="nav-button">Shop</button>

            <div class="dropdown-content">
                <a th:href="@{/products/all}">All products</a>
                <a th:each="category : ${categories}"
                   th:href="@{/products/all(category=${category.name})}"
                   th:text="${category.getDisplayName()}">
                    Category Name
                </a>
            </div>
        </div>

        <a th:href="@{/deals}">Deals</a>
        <a th:href="@{/about}">About</a>
        <a th:href="@{/support}">Support</a>
    </nav>
</header>
<main style="margin: 30px 60px">
    <h1 style="text-align: center">Our Latest Deals</h1>

    <div id="deals-grid">
        <div class="deals-container">
            <a th:href="@{/products/all(category=${T(com.example.velora_ecommerce.enums.Category).LAPTOPS})}">
                <img th:src="@{/images/deal_posters/deals 1.png}" alt="Deal for laptops">
            </a>
        </div>
        <div class="deals-container">
            <a th:href="@{/products/all(category=${T(com.example.velora_ecommerce.enums.Category).KEYBOARDS})}">
                <img th:src="@{/images/deal_posters/deals 2.png}" alt="Deal for keyboards">
            </a>
        </div>
        <div class="deals-container">
            <a th:href="@{/products/all(category=${T(com.example.velora_ecommerce.enums.Category).ACCESSORIES})}">
                <img th:src="@{/images/deal_posters/deals 3.png}" alt="Deal for ">
            </a>
        </div>
        <div class="deals-container">
            <a th:href="@{/products/all(category=${T(com.example.velora_ecommerce.enums.Category).MONITORS})}">
                <img th:src="@{/images/deal_posters/deals 4.png}" alt="Deal for ">
            </a>
        </div>
        <div class="deals-container">
            <a th:href="@{/products/all(category=${T(com.example.velora_ecommerce.enums.Category).MICE})}">
                <img th:src="@{/images/deal_posters/deals 5.png}" alt="Deal for ">
            </a>
        </div>
        <div class="deals-container">
            <a th:href="@{/products/all(category=${T(com.example.velora_ecommerce.enums.Category).ACCESSORIES})}">
                <img th:src="@{/images/deal_posters/deals 6.png}" alt="Deal for ">
            </a>
        </div>
        <div class="deals-container">
            <a th:href="@{/products/all(category=${T(com.example.velora_ecommerce.enums.Category).ACCESSORIES})}">
                <img th:src="@{/images/deal_posters/deals 7.png}" alt="Deal for ">
            </a>
        </div>
        <div class="deals-container">
            <a th:href="@{/products/all(category=${T(com.example.velora_ecommerce.enums.Category).DESKTOPS})}">
                <img th:src="@{/images/deal_posters/deals 8.png}" alt="Deal for ">
            </a>
        </div>
    </div>
</main>
<footer>
    <p>© 2026 Velora Electronics. This is not a real company.</p>

    <div class="footer-links">
        <a th:href="@{/about}">About Velora</a>
        <a th:href="@{/support}">Contact Us</a>
        <a th:href="@{/privacy}">Privacy Policy</a>
        <a th:href="@{/terms}">Terms and Conditions</a>
    </div>
</footer>
</body>
</html>